<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stripe Payment Page Recipe</title>
    <meta name="description" content="A demo of the Stripe Payment Intents API" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/global.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <script src="/listCard.js" defer></script>
  </head>

  <body>
    <div>
        <div class="sr-payment-summary payment-view">
          <h3>List Cards from a Stripe Customer</h3>
        </div>        
		<div>
			<ul id="cardList"></ul>
		</div>
    </div>
  </body>
</html>
